node_modules/
.env
.env.*
# React Native packager
/ios/
/android/
# Generic logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
.expo/

# JetBrains project directories
.idea/

# VSCode directories
.vscode/
